In [159]:
import pandas as pd
import numpy as np

In [160]:
xls = pd.ExcelFile('../Preprocessed_data/bar_race-modified.xlsx')
df1 = pd.read_excel(xls, 'CO2_emission')
df1 = df1.drop(columns= ['Image URL'])
df1

,Country,Region,flag_gfw,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,Americas,ABW,0.000000,0.000000,44.668787,45.982955,30.484828,14.705094,0.000000,0.000000,0.000000
1,Afghanistan,Asia,AFG,0.000000,0.000000,0.000000,58.513867,36.978566,173.956598,169.960391,38.246445,4.486055
2,Angola,Africa,AGO,0.000000,0.000000,0.000000,8538.307511,18574.557320,25006.662711,39288.946293,34977.607247,51153.610041
3,Albania,Europe,ALB,0.000000,0.000000,38.634125,216.321310,548.866283,1321.545817,5273.685162,9911.456405,8175.592331
4,United Arab Emirates,Asia,ARE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.279170,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
148,Vietnam,Asia,VNM,0.000000,0.000000,0.000000,0.000000,23.660463,309.999988,3536.110624,12133.888842,7252.938167
149,Vanuatu,Oceania,VUT,26974.199708,20909.794818,39917.585365,107379.399395,164852.715405,145542.219449,161470.661949,165615.853033,155113.833126
150,Samoa,Oceania,WSM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2624.540223,0.000000,0.000000
151,"Yemen, Rep.",Asia,YEM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,105.665590,471.794692,147.539201
152,South Africa,Africa,ZAF,3581.337742,28877.857906,37026.815721,74699.795150,155129.176346,157752.018200,153455.685750,165234.341843,168178.245595

In [161]:
df_with_years = pd.melt(df1, id_vars = ['Country', 'Region', 'flag_gfw'], var_name = "year", value_name = "CO2_emission")
df_with_years

                   Country    Region flag_gfw  year   CO2_emission
0                    Aruba  Americas      ABW  2012       0.000000
1              Afghanistan      Asia      AFG  2012       0.000000
2                   Angola    Africa      AGO  2012       0.000000
3                  Albania    Europe      ALB  2012       0.000000
4     United Arab Emirates      Asia      ARE  2012       0.000000
...                    ...       ...      ...   ...            ...
1372               Vietnam      Asia      VNM  2020    7252.938167
1373               Vanuatu   Oceania      VUT  2020  155113.833126
1374                 Samoa   Oceania      WSM  2020       0.000000
1375           Yemen, Rep.      Asia      YEM  2020     147.539201
1376          South Africa    Africa      ZAF  2020  168178.245595

[1377 rows x 5 columns]

In [162]:
df_with_years_sorted = df_with_years.sort_values(["year", "CO2_emission"], ascending = (True, False))
df_with_years_sorted

          Country   Region flag_gfw  year  CO2_emission
119        Russia   Europe      RUS  2012  1.344865e+06
76    Korea, Rep.     Asia      KOR  2012  6.456192e+05
104        Norway   Europe      NOR  2012  4.207021e+05
65        Iceland   Europe      ISL  2012  4.072437e+05
19          China     Asia      CHN  2012  4.009034e+05
...           ...      ...      ...   ...           ...
1345        Sudan   Africa      SDN  2020  0.000000e+00
1358         Chad   Africa      TCD  2020  0.000000e+00
1359         Togo   Africa      TGO  2020  0.000000e+00
1361        Tonga  Oceania      TON  2020  0.000000e+00
1374        Samoa  Oceania      WSM  2020  0.000000e+00

[1377 rows x 5 columns]

In [163]:
df_with_years_sorted = df_with_years_sorted.astype({"year": int})
df_with_years_sorted.dtypes

Country          object
Region           object
flag_gfw         object
year              int32
CO2_emission    float64
dtype: object

In [164]:
df_list = []

years = np.arange(2012,2020)

for year in years:
    df_temp = df_with_years_sorted[df_with_years_sorted['year']==year].head(15)
    df_list.append(df_temp)

df_final = pd.concat(df_list)
df_final = df_final.astype({'CO2_emission': int})
df_final.head(25)

           Country    Region flag_gfw  year  CO2_emission
119         Russia    Europe      RUS  2012       1344865
76     Korea, Rep.      Asia      KOR  2012        645619
104         Norway    Europe      NOR  2012        420702
65         Iceland    Europe      ISL  2012        407243
19           China      Asia      CHN  2012        400903
5        Argentina  Americas      ARG  2012        312374
70           Japan      Asia      JPN  2012        273692
38           Spain    Europe      ESP  2012        226284
42          France    Europe      FRA  2012        148596
18           Chile  Americas      CHL  2012        146810
43   Faroe Islands    Europe      FRO  2012        144990
145  United States  Americas      USA  2012        133673
141         Taiwan      Asia      TWN  2012        115043
34         Denmark    Europe      DNK  2012        114188
16          Canada  Americas      CAN  2012        110518
172          China      Asia      CHN  2013       2143734
272         Russia    Europe      RUS  2013       1660256
229    Korea, Rep.      Asia      KOR  2013        658536
257         Norway    Europe      NOR  2013        562661
218        Iceland    Europe      ISL  2013        490695
191          Spain    Europe      ESP  2013        466350
195         France    Europe      FRA  2013        440922
158      Argentina  Americas      ARG  2013        369627
223          Japan      Asia      JPN  2013        323178
294         Taiwan      Asia      TWN  2013        298683

In [165]:
nations = df_final['flag_gfw'].unique()
nations

array(['RUS', 'KOR', 'NOR', 'ISL', 'CHN', 'ARG', 'JPN', 'ESP', 'FRA',
       'CHL', 'FRO', 'USA', 'TWN', 'DNK', 'CAN', 'GBR', 'ITA', 'NLD'],
      dtype=object)

In [166]:
df_final = df_with_years_sorted[df_with_years_sorted['flag_gfw'].isin(nations)]
df_final

            Country    Region flag_gfw  year  CO2_emission
119          Russia    Europe      RUS  2012  1.344865e+06
76      Korea, Rep.      Asia      KOR  2012  6.456192e+05
104          Norway    Europe      NOR  2012  4.207021e+05
65          Iceland    Europe      ISL  2012  4.072437e+05
19            China      Asia      CHN  2012  4.009034e+05
...             ...       ...      ...   ...           ...
1267  Faroe Islands    Europe      FRO  2020  3.326726e+05
1327    Netherlands    Europe      NLD  2020  2.699759e+05
1240         Canada  Americas      CAN  2020  2.520501e+05
1258        Denmark    Europe      DNK  2020  2.332065e+05
1242          Chile  Americas      CHL  2020  9.106619e+04

[162 rows x 5 columns]

In [167]:
df_final = df_final.pivot(index=['flag_gfw', 'Country', 'Region'] , columns='year')['CO2_emission']
df_final = df_final.reset_index()
df_final

year,flag_gfw,Country,Region,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ARG,Argentina,Americas,3.123745e+05,3.696274e+05,3.714274e+05,3.482684e+05,3.579179e+05,3.594413e+05,3.818929e+05,3.911232e+05,3.613806e+05
1,CAN,Canada,Americas,1.105180e+05,1.493580e+05,1.410489e+05,1.516244e+05,1.739252e+05,2.074180e+05,2.392070e+05,2.668118e+05,2.520501e+05
2,CHL,Chile,Americas,1.468102e+05,1.136976e+05,1.210564e+05,1.181511e+05,1.125749e+05,1.035725e+05,1.079252e+05,1.088439e+05,9.106619e+04
3,CHN,China,Asia,4.009034e+05,2.143734e+06,2.964306e+06,3.391262e+06,4.319167e+06,4.715271e+06,5.054170e+06,5.643627e+06,5.413257e+06
4,DNK,Denmark,Europe,1.141881e+05,1.891621e+05,2.043285e+05,1.799569e+05,2.123922e+05,2.207778e+05,2.548573e+05,2.364993e+05,2.332065e+05
5,ESP,Spain,Europe,2.262846e+05,4.663504e+05,5.443257e+05,5.562484e+05,5.459134e+05,5.691010e+05,5.766961e+05,6.034019e+05,6.007282e+05
6,FRA,France,Europe,1.485968e+05,4.409230e+05,4.546023e+05,4.869075e+05,5.340005e+05,5.510850e+05,5.678390e+05,5.827938e+05,5.341752e+05
7,FRO,Faroe Islands,Europe,1.449904e+05,2.076602e+05,2.588519e+05,3.156275e+05,2.935805e+05,3.170137e+05,3.278582e+05,3.172345e+05,3.326726e+05
8,GBR,United Kingdom,Europe,9.914252e+04,2.779033e+05,3.139645e+05,3.572766e+05,3.796022e+05,3.989465e+05,4.239615e+05,4.236304e+05,3.729271e+05
9,ISL,Iceland,Europe,4.072437e+05,4.906954e+05,4.700319e+05,4.824593e+05,4.533839e+05,4.279586e+05,5.031121e+05,4.519263e+05,4.535803e+05
10,ITA,Italy,Europe,2.937132e+04,2.232491e+05,3.616570e+05,4.349691e+05,4.656881e+05,4.948760e+05,4.478112e+05,4.499459e+05,4.223676e+05
11,JPN,Japan,Asia,2.736922e+05,3.231785e+05,3.943941e+05,5.404361e+05,7.027831e+05,7.457711e+05,7.889766e+05,7.589284e+05,7.782442e+05
12,KOR,"Korea, Rep.",Asia,6.456192e+05,6.585364e+05,6.838522e+05,7.185661e+05,7.217424e+05,8.331396e+05,8.886781e+05,9.829262e+05,9.668308e+05
13,NLD,Netherlands,Europe,9.153913e+04,2.096001e+05,2.678383e+05,2.546632e+05,2.895017e+05,3.168970e+05,3.248597e+05,2.932883e+05,2.699759e+05
14,NOR,Norway,Europe,4.207021e+05,5.626612e+05,6.348023e+05,7.069119e+05,7.032622e+05,6.887260e+05,7.923067e+05,7.854123e+05,7.850324e+05
15,RUS,Russia,Europe,1.344865e+06,1.660256e+06,1.479029e+06,1.636402e+06,1.987311e+06,2.581424e+06,2.649553e+06,2.798793e+06,2.925423e+06
16,TWN,Taiwan,Asia,1.150438e+05,2.986836e+05,4.860688e+05,7.957558e+05,1.182881e+06,1.538333e+06,1.816936e+06,1.935621e+06,1.775695e+06
17,USA,United States,Americas,1.336735e+05,1.425483e+05,1.803815e+05,2.163475e+05,3.599715e+05,4.407870e+05,4.787196e+05,4.504434e+05,4.720661e+05

In [168]:
df_final[df_final.columns[3:]] = df_final[df_final.columns[3:]].astype(int)
df_final

year,flag_gfw,Country,Region,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,ARG,Argentina,Americas,312374,369627,371427,348268,357917,359441,381892,391123,361380
1,CAN,Canada,Americas,110518,149358,141048,151624,173925,207418,239207,266811,252050
2,CHL,Chile,Americas,146810,113697,121056,118151,112574,103572,107925,108843,91066
3,CHN,China,Asia,400903,2143734,2964306,3391262,4319167,4715271,5054169,5643627,5413257
4,DNK,Denmark,Europe,114188,189162,204328,179956,212392,220777,254857,236499,233206
5,ESP,Spain,Europe,226284,466350,544325,556248,545913,569101,576696,603401,600728
6,FRA,France,Europe,148596,440922,454602,486907,534000,551084,567839,582793,534175
7,FRO,Faroe Islands,Europe,144990,207660,258851,315627,293580,317013,327858,317234,332672
8,GBR,United Kingdom,Europe,99142,277903,313964,357276,379602,398946,423961,423630,372927
9,ISL,Iceland,Europe,407243,490695,470031,482459,453383,427958,503112,451926,453580
10,ITA,Italy,Europe,29371,223249,361656,434969,465688,494875,447811,449945,422367
11,JPN,Japan,Asia,273692,323178,394394,540436,702783,745771,788976,758928,778244
12,KOR,"Korea, Rep.",Asia,645619,658536,683852,718566,721742,833139,888678,982926,966830
13,NLD,Netherlands,Europe,91539,209600,267838,254663,289501,316897,324859,293288,269975
14,NOR,Norway,Europe,420702,562661,634802,706911,703262,688726,792306,785412,785032
15,RUS,Russia,Europe,1344865,1660256,1479029,1636401,1987311,2581424,2649552,2798792,2925422
16,TWN,Taiwan,Asia,115043,298683,486068,795755,1182881,1538333,1816935,1935620,1775694
17,USA,United States,Americas,133673,142548,180381,216347,359971,440787,478719,450443,472066

In [169]:
df_final = pd.melt(df_final, id_vars = ['flag_gfw', 'Country', 'Region'], var_name = "year", value_name = "CO2_emission")
df_final

    flag_gfw        Country    Region  year  CO2_emission
0        ARG      Argentina  Americas  2012        312374
1        CAN         Canada  Americas  2012        110518
2        CHL          Chile  Americas  2012        146810
3        CHN          China      Asia  2012        400903
4        DNK        Denmark    Europe  2012        114188
..       ...            ...       ...   ...           ...
157      NLD    Netherlands    Europe  2020        269975
158      NOR         Norway    Europe  2020        785032
159      RUS         Russia    Europe  2020       2925422
160      TWN         Taiwan      Asia  2020       1775694
161      USA  United States  Americas  2020        472066

[162 rows x 5 columns]

In [170]:
df_final = df_final.pivot(index=['year'] , columns='Country')['CO2_emission']
df_final

Country,Argentina,Canada,Chile,China,Denmark,Faroe Islands,France,Iceland,Italy,Japan,"Korea, Rep.",Netherlands,Norway,Russia,Spain,Taiwan,United Kingdom,United States
year,,,,,,,,,,,,,,,,,,
2012,312374,110518,146810,400903,114188,144990,148596,407243,29371,273692,645619,91539,420702,1344865,226284,115043,99142,133673
2013,369627,149358,113697,2143734,189162,207660,440922,490695,223249,323178,658536,209600,562661,1660256,466350,298683,277903,142548
2014,371427,141048,121056,2964306,204328,258851,454602,470031,361656,394394,683852,267838,634802,1479029,544325,486068,313964,180381
2015,348268,151624,118151,3391262,179956,315627,486907,482459,434969,540436,718566,254663,706911,1636401,556248,795755,357276,216347
2016,357917,173925,112574,4319167,212392,293580,534000,453383,465688,702783,721742,289501,703262,1987311,545913,1182881,379602,359971
2017,359441,207418,103572,4715271,220777,317013,551084,427958,494875,745771,833139,316897,688726,2581424,569101,1538333,398946,440787
2018,381892,239207,107925,5054169,254857,327858,567839,503112,447811,788976,888678,324859,792306,2649552,576696,1816935,423961,478719
2019,391123,266811,108843,5643627,236499,317234,582793,451926,449945,758928,982926,293288,785412,2798792,603401,1935620,423630,450443
2020,361380,252050,91066,5413257,233206,332672,534175,453580,422367,778244,966830,269975,785032,2925422,600728,1775694,372927,472066

In [172]:
df_final = df_final.reset_index()
df_final

Country,year,Argentina,Canada,Chile,China,Denmark,Faroe Islands,France,Iceland,Italy,Japan,"Korea, Rep.",Netherlands,Norway,Russia,Spain,Taiwan,United Kingdom,United States
0,2012,312374,110518,146810,400903,114188,144990,148596,407243,29371,273692,645619,91539,420702,1344865,226284,115043,99142,133673
1,2013,369627,149358,113697,2143734,189162,207660,440922,490695,223249,323178,658536,209600,562661,1660256,466350,298683,277903,142548
2,2014,371427,141048,121056,2964306,204328,258851,454602,470031,361656,394394,683852,267838,634802,1479029,544325,486068,313964,180381
3,2015,348268,151624,118151,3391262,179956,315627,486907,482459,434969,540436,718566,254663,706911,1636401,556248,795755,357276,216347
4,2016,357917,173925,112574,4319167,212392,293580,534000,453383,465688,702783,721742,289501,703262,1987311,545913,1182881,379602,359971
5,2017,359441,207418,103572,4715271,220777,317013,551084,427958,494875,745771,833139,316897,688726,2581424,569101,1538333,398946,440787
6,2018,381892,239207,107925,5054169,254857,327858,567839,503112,447811,788976,888678,324859,792306,2649552,576696,1816935,423961,478719
7,2019,391123,266811,108843,5643627,236499,317234,582793,451926,449945,758928,982926,293288,785412,2798792,603401,1935620,423630,450443
8,2020,361380,252050,91066,5413257,233206,332672,534175,453580,422367,778244,966830,269975,785032,2925422,600728,1775694,372927,472066

In [177]:
df_final = df_final.drop(columns=['Canada', 'Chile', 'Faroe Islands', 'Denmark'])

In [178]:
df_final.to_csv('../Preprocessed_data/Flourish_data/barplot_CO2.csv', index=False)