# Global fish watch vessel pre-processing. Removing useless columns.

In [1]:
import pandas as pd
import os

In [2]:
path = "../"

In [3]:
data_path = os.path.join(path,'Raw_Data', 'global_fish_watch', 'fishing-vessels-v2.csv')

In [5]:
needed_directories = [
    os.path.join(path, 'Preprocessed_data'),
    os.path.join(path, 'Preprocessed_data',"Global_Fish_Watch")
]

In [6]:
for directory in needed_directories:
    if not os.path.exists(directory): 
        os.makedirs(directory)

In [4]:
df = pd.read_csv(data_path)

In [12]:
temp = df[['engine_power_kw_inferred','engine_power_kw_registry','engine_power_kw_gfw']]

In [17]:
#NB: there are 460 vessels for which we hav no info about the power engine. We could use some ML estimator to estimate it?
pd.set_option('display.max_columns', None)
result=df[temp.isnull().all(axis=1)]
result

,mmsi,flag_ais,flag_registry,flag_gfw,vessel_class_inferred,vessel_class_inferred_score,vessel_class_registry,vessel_class_gfw,self_reported_fishing_vessel,length_m_inferred,length_m_registry,length_m_gfw,engine_power_kw_inferred,engine_power_kw_registry,engine_power_kw_gfw,tonnage_gt_inferred,tonnage_gt_registry,tonnage_gt_gfw,registries_listed,fishing_hours_2012,fishing_hours_2013,fishing_hours_2014,fishing_hours_2015,fishing_hours_2016,fishing_hours_2017,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020
4,112119600,NaN,USA,USA,NaN,NaN,fishing,fishing,True,NaN,24.64,24.64,NaN,NaN,NaN,NaN,85.48,85.48,IMO|USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318.22
5,70100732,NaN,ARG,ARG,NaN,NaN,fishing,fishing,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,729.00,729.00,IMO,NaN,NaN,304.24,NaN,NaN,NaN,NaN,NaN,NaN
8,420948738,NaN,IND,IND,NaN,NaN,drifting_longlines,drifting_longlines,False,NaN,37.50,37.50,NaN,NaN,NaN,NaN,465.00,465.00,IMO|IOTC,NaN,320.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,316041844,CAN,CAN,CAN,NaN,NaN,fishing,fishing,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.00,54.00,CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.12
17,316030667,CAN,CAN,CAN,NaN,NaN,fishing,fishing,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.00,25.00,CAN,NaN,NaN,NaN,NaN,NaN,44.94,84.50,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,368150450,USA,USA,USA,NaN,NaN,fishing,fishing,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,231.06
968,367525410,USA,USA,USA,NaN,NaN,fishing,fishing,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.47,NaN
976,577063000,VUT,VUT,VUT,NaN,NaN,drifting_longlines,drifting_longlines,True,NaN,23.80,23.80,NaN,NaN,NaN,NaN,91.37,91.37,ICCAT|IMO|TWN4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2212.99
977,601272000,ZAF,ZAF,ZAF,NaN,NaN,pole_and_line,pole_and_line,True,NaN,22.61,22.61,NaN,NaN,NaN,NaN,116.20,116.20,CCSBT|ICCAT|ICCAT2,NaN,NaN,NaN,49.29,491.87,NaN,NaN,NaN,NaN
978,601139500,ZAF,ZAF,ZAF,NaN,NaN,pole_and_line,pole_and_line,True,NaN,12.60,12.60,NaN,NaN,NaN,NaN,NaN,NaN,CCSBT,NaN,NaN,NaN,900.33,288.12,839.45,161.49,602.37,939.65

engine_power_kw_inferred    False
engine_power_kw_registry    False
engine_power_kw_gfw         False
dtype: bool

In [8]:
df = df[['mmsi', 'flag_gfw', 'vessel_class_inferred_score', 'vessel_class_gfw', 'self_reported_fishing_vessel', 'length_m_gfw',
        'engine_power_kw_gfw', 'tonnage_gt_gfw', 'registries_listed', 'fishing_hours_2012', 'fishing_hours_2013', 'fishing_hours_2014',
        'fishing_hours_2015', 'fishing_hours_2016', 'fishing_hours_2017', 'fishing_hours_2018', 'fishing_hours_2019', 'fishing_hours_2020'
        ]]

In [10]:
df.to_csv(os.path.join(path, 'Preprocessed_data',"Global_Fish_Watch", "Global_watch_fish_vessels_PREPROCESSED.csv"), index=False)