In [1]:
import dask.dataframe as dd
import pandas as pd
import os
import gc

In [2]:
needed_directories = [
    os.path.join('../', 'Preprocessed_data'),
    os.path.join('../', 'Preprocessed_data',"Global_Fish_Watch_world_heatmap")
]

In [3]:
for directory in needed_directories:
    if not os.path.exists(directory): 
        os.makedirs(directory)

In [4]:
df_list = []

In [5]:
file_list = ['mmsi-daily-csvs-10-v2-2012', 'mmsi-daily-csvs-10-v2-2013', 'mmsi-daily-csvs-10-v2-2014', 'mmsi-daily-csvs-10-v2-2015',
            'mmsi-daily-csvs-10-v2-2016', 'mmsi-daily-csvs-10-v2-2017', 'mmsi-daily-csvs-10-v2-2018', 'mmsi-daily-csvs-10-v2-2019',
            'mmsi-daily-csvs-10-v2-2020']

In [11]:
for file in file_list:
    path = os.path.join('..\Raw_Data\Global_fish_world_heatmap', file, '*')
    print(path)
    df = dd.read_csv(path)
    df = df.drop(columns = ['mmsi', 'hours'])
    df_pandas = df.compute()
    df_pandas = df_pandas[df_pandas.fishing_hours != 0]
    df_pandas = df_pandas.drop(columns=['fishing_hours'])
    filename = file + '.csv'
    saving_path = os.path.join(needed_directories[1], filename)
    df_pandas = df_pandas.sample(frac = 0.1)
    df_pandas.to_csv(saving_path, index=False)
    gc.collect()

..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2012\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2013\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2014\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2015\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2016\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2017\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2018\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2019\*
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2020\*

In [4]:
df = dd.read_csv("../Raw_Data/Global_fish_world_heatmap/mmsi-daily-csvs-10-v2-2012/*")

In [6]:
df = df.drop(columns = ['mmsi', 'hours'])

In [9]:
df_pandas = df.compute()
df_pandas

In [11]:
df_pandas = df_pandas[df_pandas.fishing_hours != 0]
df_pandas

             date  cell_ll_lat  cell_ll_lon  fishing_hours
352    2012-01-01        -46.0        -60.7         1.5838
581    2012-01-01        -45.5        -60.1         1.6275
712    2012-01-01         -4.3       -174.0         1.8330
1226   2012-01-01        -45.4        -60.6         3.2338
1280   2012-01-01        -45.9        -60.6         3.2494
...           ...          ...          ...            ...
16375  2012-12-31         75.7         29.7         3.1222
16376  2012-12-31         75.7         29.1         0.1724
16381  2012-12-31         79.7         18.0         1.5583
16382  2012-12-31         79.7         18.1         1.5719
16383  2012-12-31         79.7         18.2         1.5641

[2605052 rows x 4 columns]