In [17]:
import dask.dataframe as dd
import pandas as pd
import os
import gc

In [18]:
needed_directories = [
    os.path.join('../', 'Preprocessed_data'),
    os.path.join('../', 'Preprocessed_data',"Global_Fish_Watch_world_heatmap")
]

In [19]:
for directory in needed_directories:
    if not os.path.exists(directory): 
        os.makedirs(directory)

In [20]:
df_list = []

In [21]:
file_list=os.listdir('..\Raw_Data\Global_fish_world_heatmap')
file_list[0][-4:]

'2012'

In [22]:
for file in file_list:
    path = os.path.join('..\Raw_Data\Global_fish_world_heatmap', file, '*')
    print(path)
    df = dd.read_csv(path)
    df = df.drop(columns = ['mmsi', 'hours'])
    df_pandas = df.compute()
    df_pandas = df_pandas[df_pandas.fishing_hours != 0]
    df_pandas = df_pandas.drop(columns=['fishing_hours'])
    #df_pandas = df_pandas[df_pandas['date'].isin(str(file[-4:]) + '-08')]
    print('filtered dataset')
    #mask = df['date'].str.contains(str(file[-4:]) + '-08')
    df_pandas = df_pandas[df_pandas['date'].str.contains(str(file[-4:]) + '-08')]
                          
    filename = file + '.csv'
    saving_path = os.path.join(needed_directories[1], filename)
    #df_pandas = df_pandas.sample(frac = 0.1)
    df_pandas.to_csv(saving_path, index=False)
    gc.collect()

..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2012\*
filtered dataset
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2019\*
filtered dataset
..\Raw_Data\Global_fish_world_heatmap\mmsi-daily-csvs-10-v2-2020\*
filtered dataset

In [25]:
dataframe_test = pd.read_csv('../Preprocessed_data/Global_Fish_Watch_world_heatmap/mmsi-daily-csvs-10-v2-2019.csv')
dataframe_test

               date  cell_ll_lat  cell_ll_lon
0        2019-08-01          0.0        -15.2
1        2019-08-01          0.0        149.8
2        2019-08-01          0.0        149.5
3        2019-08-01          0.0        149.4
4        2019-08-01          0.0        149.7
...             ...          ...          ...
1818285  2019-08-31         75.7         41.3
1818286  2019-08-31         75.7         41.6
1818287  2019-08-31         75.7         41.4
1818288  2019-08-31         75.7         41.5
1818289  2019-08-31         75.7         41.7

[1818290 rows x 3 columns]